<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">


<head>
 
    <meta charset="utf-8">
   
    <title>E-İhale</title>
    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/assets/dist/style.css">

    <link rel="stylesheet" type="text/css" href="/assets/dist/responsive.css">
    
    <link rel="shortcut icon" href="/assets/icon/Favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/icon/Favicon.png">

</head>



<body class="body header-fixed">

    <!-- preloade -->
    <div class="preload preload-container">
        <div class="preload-logo"></div>
    </div>
    <!-- /preload -->

    <div id="wrapper" class="wrapper-style">
        <div id="page" class="clearfix">
            <header id="header_main" class="header_1 js-header">
                <div class="themes-container">
                    <div class="row">
                        <div class="col-md-12">                              
                            <div id="site-header-inner"> 
                                <div class="wrap-box flex">
                                    <div id="site-logo" class="clearfix">
                                        <div id="site-logo-inner">
                                            <a href="/" rel="home" class="main-logo">
                                                <img id="logo_header" src="/assets/images/logo/logo.png" alt="logo" width="92" height="47"
                                                    data-retina="/assets/images/logo/logo.png" data-width="133"
                                                    data-height="56">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mobile-button"><span></span></div>
                                    <nav id="main-nav" class="main-nav">
                                        <ul id="menu-primary-menu" class="menu">
                                            <li class="menu-item current-menu-item">
                                                <a href="#">Anasayfa</a>
                                                
                                            </li>
                                            
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">İhaleler</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="/ihaleler/yeni">İhale Oluştur</a></li>
                                                    <li class="menu-item current-item"><a href="live-auctions.html">Canlı İhaleler</a></li>
                                                <!--    <li class="menu-item"><a href="/details">Live Auctions Details</a></li>-->
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Profil</a>
                                                <ul class="sub-menu">                             
                                                   
                                                    <li class="menu-item"><a href="/profile">Bakiyem</a></li>
                                               
                                                </ul>
                                            </li>
                                        
                                        </nav><!-- /#main-nav -->   
                                        <div class="flat-search-btn flex">
                                            <div class="header-search flat-show-search" >
                                                
                                                <div class="top-search">
                                                    <form action="#" method="get" role="search" class="search-form">
                                                        <input type="search" id="s" class="search-field" placeholder="Arama Yap..." value="" name="s" title="Search for" required="">
                                                        <button class="search search-submit" type="submit" title="Search">
                                                            <i class="far fa-search"></i>
                                                        </button>
                                                    </form>
                                                   
                                                </div>
                                            </div>
                                            <div class="sc-btn-top" id="site-header">
                                                <a href="/login" class="sc-button header-slider style wallet fl-button pri-1 "><span>Giriş</a> &nbsp;
                                                <a href="/register" class="sc-button header-slider style wallet fl-button pri-1"><span>Kayıt
                                                </span></a>
                                            </div>      
                                                                                             
                                        </div>
                                        
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </header>
       
       {{{body}}}     

<!-- FOOTER -->

            <div class="widget-social-footer home2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="widget widget-menu bottom">                                                                  
                                <ul class="flex link-style-1">
                                    <li><a href="/profile">Hakkımızda</a></li>
                                    <li><a href="/register">Cüzdan Bağla</a></li>
                                    <li><a href="/details">İhaleler</a></li>
                                    <li><a href="contact.html">İletişim</a></li>
                                    <li><a href="faq.html">S.S.S</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <div class="title-bottom font text-color-5">© 2022 <a href="https://pushup.games" class="text-color-3"> PushUP</a> Tüm Hakları Saklıdır.</div>                      
                        </div>
                    </div>
                </div>
            </div>
        <!-- Bottom -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    
 
    <a id="scroll-top"></a>
 <!-- teklif ver popup -->
    <div class="modal fade popup" id="popup_bid_success" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body space-y-20 pd-40">
                    <h2 class="text-center">Teklifin Başarıyla
                        Eklendi</h2>
                    <p class="text-center">Verdiğin ihale <span class="price color-popup">(234.000 ₺) </span> artık veritabanımızda listeleniyor.</p>
                    <a href="#" class="btn btn-primary"> İşlemleri Görüntüle</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade popup" id="popup_bid" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body space-y-20 pd-40">
                    <h2>Teklif Ver</h2>
                    <p class="text-center">En Az Verebileceğin Teklif: <span class="price color-popup">234.000 ₺</span>
                    </p>
                    <input type="text" class="form-control" placeholder="00.00 TL">
                    <p>Sayısını Gir <span class="color-popup">1 mevcut</span>
                    </p>
                    <input type="text" class="form-control quantity" value="1">
                    <div class="hr"></div>
                    <div class="d-flex justify-content-between">
                        <p> Güncel Teklif</p>
                        <p class="text-right price color-popup"> 234.000 ₺ </p>
                    </div>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#popup_bid_success"
                        data-dismiss="modal" aria-label="Close"> Teklif Ver</a>
                </div>
            </div>
        </div>
    </div>

    <a id="scroll-top"></a>

    <!-- Javascript -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>