
            <!-- title page -->
            <section class="flat-title-page inner"> 
                <img class="absolute mark-page" src="/assets/images/mark/mark-header-04.png" alt=""> 
                    <img class="absolute mark-page2 animate-rotate" src="/assets/images/mark/mark-header-01.png" alt="">
                    <img class="absolute mark-page3" src="/assets/images/mark/mark-header-02.png" alt="">
                    <img class="absolute mark-page4" src="/assets/images/mark/mark-header-03.png" alt="">
                    <img class="absolute mark-page5" src="/assets/images/mark/mark-header-05.png" alt="">      
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-heading">
                                <h1 class="heading">İlan Oluştur<span class="text-color-3"></span></h1>
                            </div>                        
                        </div>
                    </div>
                </div>                    
            </section>

            <div class="tf-section flat-create-item flat-edit-profile flat-auctions-details flat-explore flat-auctions">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 ">
                            <div class="sc-card-product sc-card-article blog-article">
                                <div class="card-media flat-img">
                                    <a class="images" href="/details"><img class="img-item" src="/assets/images/box-item/auctions-5.jpg" alt="Image"></a>                                                                                                                                                                                                     
                                </div>  
                                <div class="content">
                                    <h6 class="tags">Stok</h6>  
                                    <h3><a href="/details"> Başlık </a></h3> 
                                    <div class="meta-info mb-17">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="/assets/images/avatar/avt-01.png" alt="">
                                                <img class="check" src="/assets/images/icon/author-check.svg" alt="">
                                            </div>
                                            <div class="info">
                                                <h5> <a class="text-color-3" href="author-profile.html"> Ticaret Bakanlığı</a> </h5>
                                                <div class="date"> Kategori <span> @ xxx</span></div>                                           
                                            </div>
                                        </div>                                  
                                    </div>  
                                    <div class="meta-price flex-one">                                              
                                        <div class="price flex">
                                            
                                            <div class="title-price"> Fiyat</div>
                                        </div>
                                        <div class="button-place-bid">
                                            <a href="#" data-toggle="modal" data-target="#popup_bid" class="sc-button btn-3"><span>Teklif ver</span></a>
                                        </div>
                                    </div>
                                </div> 
                            </div>  
                        </div>  
                        <div class="col-xl-9 col-lg-8 col-md-12">
                            <div class="form-upload-profile post"> 
                                <h3 class="title-one fw-6">Görsel Yükle</h3> 
                                {{!-- <div class="option-profile flex">                                 
                                    <form action="/ihaleler/test" method="POST" enctype="multipart/form-data">
                                        <label class="uploadFile">                                       
                                            <input type="file" class="inputfile form-control" id="upload-img2" name="post_image">
                                        </label>
                                    </form> 
                                    <div class="img-box"> 
                                        <div class="media">
                                            <img class="avatar" id="editimg" src="/assets/images/box-item/edit-profile-2.jpg" alt="">   
                                        </div>                                                                                                                                       
                                    </div>
                                </div>  --}}
                                    
                                <h3 class="title-two fw-6">Ürün Bilgileri</h3> 
                                <form action="/ihaleler/test" method="POST"  enctype="multipart/form-data">                     
                                    <div class="form-infor-profile flat-form">
                                        <div class="form-infor flex">
                                              <fieldset>
                                            <div class="option-profile flex"> 
                                             <label class="uploadFile">                                       
                                            <input type="file" class="inputfile form-control" id="upload-img2" name="post_image">
                                        </label>
                                          <div class="img-box"> 
                                        <div class="media">
                                            <img class="avatar" id="editimg" src="/assets/images/box-item/edit-profile-2.jpg" alt="">   
                                        </div>                
                                                                                                                                                            
                                    </div>
                                    </fieldset>   
                                        </div> 
                                            <div class="info-title info-account">                              
                                                <fieldset>
                                                    <p class="title-infor-account">Ürün Adı</p>
                                                 <input type="text" name="title" placeholder="Ürün ismini giriniz" required>
                                                </fieldset>                                                                                                                   
                                            </div>
                                            <div class="info-title info-account">                              
                                                <fieldset>
                                                    <p class="title-infor-account">Kategori</p>
                                                 <input type="text" name="catagory" placeholder="Araç" required>
                                                </fieldset>                                                                                                                   
                                            </div> 
                                               <div class="info-title info-account">                              
                                                <fieldset>
                                                    <p class="title-infor-account">Marka</p>
                                                 <input type="text" name="brand" placeholder="Marka" required>
                                                </fieldset>                                                                                                                   
                                            </div> 
                                                <div class="info-title info-account">                              
                                                <fieldset>
                                                    <p class="title-infor-account">Yıl</p>
                                                 <input type="text" name="year" placeholder="Yıl" required>
                                                </fieldset>                                                                                                                   
                                            </div>
                                            <div class="info-title info-account">                              
                                                <fieldset>
                                                    <p class="title-infor-account">Vites</p>
                                                 <input type="text" name="gear" placeholder="Otomatik/Manuel/Yarı Otomatik" required>
                                                </fieldset>                                                                                                                   
                                            </div>  
                                               <div class="info-title info-account">                              
                                                <fieldset>
                                                    <p class="title-infor-account">Bitiş Tarihi</p>
                                                 <input type="text" name="deadline" placeholder="Gün.Ay.Yıl" required>
                                                </fieldset>                                                                                                                   
                                            </div> 
                                        </div> 
                                        <fieldset class="message">
                                            <p class="title-infor-account">Açıklama</p>
                                            <textarea tabindex="4" rows="3" required></textarea> 
                                        <!--   <input type="text" name="title" placeholder="Ürün ismini giriniz" required>-->
                                        </fieldset>  <br>          
                                          <button class="submit" type="submit">İhale Oluştur</button>                                                    
                                    </div>
  
                                    
                                    </div>
                                  
                                    
                                        
                                </form>              
                            </div> 
                        </div>     
                    </div>           
                </div>
                   
            </div>
          
 {{!-- <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <script>
      const ihaleContractAddress = "0xb378B9C9F5a0312526556bB69aFfB82D41A62958";
      const ihaleContractABI = [
	{
		"inputs": [
			{
				"internalType": "string",
				"name": "_katagori",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_marka",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_model",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_vites",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_yakit",
				"type": "string"
			},
			{
				"internalType": "uint256",
				"name": "_yil",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "_km",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "_BaslangicBedeli",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "_ihaleBitisTarihi",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "_ihaleId",
				"type": "uint256"
			}
		],
		"name": "ihaleEkle",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "previousOwner",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "address",
				"name": "newOwner",
				"type": "address"
			}
		],
		"name": "OwnershipTransferred",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "uint256",
				"name": "ihaleId",
				"type": "uint256"
			}
		],
		"name": "ihalelersiralamasi",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_bakiye",
				"type": "uint256"
			}
		],
		"name": "ParaYukle",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "renounceOwnership",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "uint256",
				"name": "ihaleId",
				"type": "uint256"
			},
			{
				"indexed": false,
				"internalType": "address",
				"name": "teklifVeren",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "teklif",
				"type": "uint256"
			}
		],
		"name": "tekliflersiralamasi",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "teklif",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "_ihaleId",
				"type": "uint256"
			}
		],
		"name": "TeklifVer",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "newOwner",
				"type": "address"
			}
		],
		"name": "transferOwnership",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_ihaleId",
				"type": "uint256"
			}
		],
		"name": "EnYuksekTeklif",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getBakiye",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_ihaleId",
				"type": "uint256"
			}
		],
		"name": "IhaleBitisTarihi",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_ihaleId",
				"type": "uint256"
			}
		],
		"name": "IhaleKazanani",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_ihaleId",
				"type": "uint256"
			}
		],
		"name": "Ihalelerigetir",
		"outputs": [
			{
				"components": [
					{
						"internalType": "string",
						"name": "katagori",
						"type": "string"
					},
					{
						"internalType": "string",
						"name": "marka",
						"type": "string"
					},
					{
						"internalType": "string",
						"name": "model",
						"type": "string"
					},
					{
						"internalType": "string",
						"name": "vites",
						"type": "string"
					},
					{
						"internalType": "string",
						"name": "yakit",
						"type": "string"
					},
					{
						"internalType": "uint256",
						"name": "yil",
						"type": "uint256"
					},
					{
						"internalType": "uint256",
						"name": "km",
						"type": "uint256"
					},
					{
						"internalType": "uint256",
						"name": "BaslangicBedeli",
						"type": "uint256"
					},
					{
						"internalType": "uint256",
						"name": "ihaleBitisTarihi",
						"type": "uint256"
					},
					{
						"internalType": "uint256",
						"name": "zirve",
						"type": "uint256"
					},
					{
						"internalType": "address",
						"name": "zirveadresi",
						"type": "address"
					}
				],
				"internalType": "struct ihale.ihaleBilgi",
				"name": "",
				"type": "tuple"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "owner",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
]
      let ihaleContract;
      let signer;
      const provider = new ethers.providers.Web3Provider(web3.currentProvider);
      provider.send("eth_requestAccounts", []).then(() => {
      provider.listAccounts().then((accounts) => {
        signer = provider.getSigner(accounts[0]);
        ihaleContract = new ethers.Contract(
          ihaleContractAddress,
         ihaleContractABI,
          signer
          );
        });
      });
 
      async function setihale() {
        const Bakiye = document.getElementById("bakiye").value;
        const setBakiyePromise = BakiyeContract.setBakiye(Bakiye);
        await setBakiyePromise;
      }
    </script> --}}