
            <!-- title page -->
            <section class="flat-title-page inner"> 
                <img class="absolute mark-page" src="/assets/images/mark/mark-header-04.png" alt=""> 
                    <img class="absolute mark-page2 animate-rotate" src="/assets/images/mark/mark-header-01.png" alt="">
                    <img class="absolute mark-page3" src="/assets/images/mark/mark-header-02.png" alt="">
                    <img class="absolute mark-page4" src="/assets/images/mark/mark-header-03.png" alt="">
                    <img class="absolute mark-page5" src="/assets/images/mark/mark-header-05.png" alt="">      
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-heading">
                                <h1 class="heading">İlan Oluştur<span class="text-color-3"></span></h1>
                            </div>                        
                        </div>
                    </div>
                </div>                    
            </section>

            <div class="tf-section flat-create-item flat-edit-profile flat-auctions-details flat-explore flat-auctions">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 ">
                            <div class="sc-card-product sc-card-article blog-article">
                                <div class="card-media flat-img">
                                    <a class="images" href="/details"><img class="img-item" src="/assets/images/box-item/auctions-5.jpg" alt="Image"></a>                                                                                                                                                                                                     
                                </div>  
                                <div class="content">
                                    <h6 class="tags">1 stokta</h6>  
                                    <h3><a href="/details"> Mercedes Benz XXX </a></h3> 
                                    <div class="meta-info mb-17">
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="/assets/images/avatar/avt-01.png" alt="">
                                                <img class="check" src="/assets/images/icon/author-check.svg" alt="">
                                            </div>
                                            <div class="info">
                                                <h5> <a class="text-color-3" href="author-profile.html"> Ticaret Bakanlığı</a> </h5>
                                                <div class="date"> Kategori <span> @ Araçlar</span></div>                                           
                                            </div>
                                        </div>                                  
                                    </div>  
                                    <div class="meta-price flex-one">                                              
                                        <div class="price flex">
                                            <img class="" src="/assets/images/icon/icon-diamond.svg" alt="">
                                            <div class="title-price"> 145.000</div>
                                        </div>
                                        <div class="button-place-bid">
                                            <a href="#" data-toggle="modal" data-target="#popup_bid" class="sc-button btn-3"><span>Teklif ver</span></a>
                                        </div>
                                    </div>
                                </div> 
                            </div>  
                        </div>  
                        <div class="col-xl-9 col-lg-8 col-md-12">
                            <div class="form-upload-profile post"> 
                                <h3 class="title-one fw-6">Görsel Yükle</h3> 
                                {{!-- <div class="option-profile flex">                                 
                                    <form action="/ihaleler/test" method="POST" enctype="multipart/form-data">
                                        <label class="uploadFile">                                       
                                            <input type="file" class="inputfile form-control" id="upload-img2" name="post_image">
                                        </label>
                                    </form> 
                                    <div class="img-box"> 
                                        <div class="media">
                                            <img class="avatar" id="editimg" src="/assets/images/box-item/edit-profile-2.jpg" alt="">   
                                        </div>                                                                                                                                       
                                    </div>
                                </div>  --}}
                                
                                <h3 class="title-two fw-6">Ürün Bilgileri</h3> 
                                <form action="/ihaleler/test" method="POST"  enctype="multipart/form-data">                     
                                    <div class="form-infor-profile flat-form">
                                        <div class="form-infor flex">
                                              <fieldset>
                                            <div class="option-profile flex"> 
                                             <label class="uploadFile">                                       
                                            <input type="file" class="inputfile form-control" id="upload-img2" name="post_image">
                                        </label>
                                          <div class="img-box"> 
                                        <div class="media">
                                            <img class="avatar" id="editimg" src="/assets/images/box-item/edit-profile-2.jpg" alt="">   
                                        </div>                
                                                                                                                                                            
                                    </div>
                                    </fieldset>   
                                        </div> 
                                            <div class="info-title info-account">                              
                                                <fieldset>
                                                    <p class="title-infor-account">Başlık</p>
                                                 <input type="text" name="title" placeholder="Ürün ismini giriniz" required>
                                                </fieldset>                                                                                                                   
                                            </div>
                                            <div class="info-stock info-social">                                 
                                                <fieldset>
                                                    <p class="title-infor-account">Stok</p>
                                                <!--   <div class="number-wrapper"><input type="text" name="content" <!-- placeholder="Stokta 1"  min="0" max="9" step="1" required>    </div>--> 
                                                    <div class="number-wrapper"><input type="text" name="content"  placeholder="Stokta 1"  required>    </div>                                         
                                                </fieldset>
                                            </div>  
                                        </div> 
                                        <fieldset class="message">
                                            <p class="title-infor-account">Açıklama</p>
                                            <textarea tabindex="4" rows="3" required></textarea> 
                                        <!--   <input type="text" name="title" placeholder="Ürün ismini giriniz" required>-->
                                        </fieldset>                                                              
                                    </div>
  
                                      <button class="submit" type="submit">İhale Oluştur</button>  
                                    </div>
                                  
                                    
                                        
                                </form>              
                            </div> 
                        </div>     
                    </div>           
                </div>
            </div>
          