<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css file link  -->

</head>
<body>

<div class="containerc">

    <div class="card-containercard">

        <div class="front">
            <div class="image">
                <img src="/assets/images/card/chip.png" alt="">
                <img src="/assets/images/card/visa.png" alt="">
            </div>
            <div class="card-number-box">################</div>
            <div class="flexbox">
                <div class="box">
                    <span>card holder</span>
                    <div class="card-holder-name">full name</div>
                </div>
                <div class="box">
                    <span>expires</span>
                    <div class="expiration">
                        <span class="exp-month">mm</span>
                        <span class="exp-year">yy</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="back">
            <div class="stripe"></div>
            <div class="box">
                <span>cvv</span>
                <div class="cvv-box"></div>
                <img src="image/visa.png" alt="">
            </div>
        </div>

    </div>

    <form action="">
        <div class="inputBox">
            <span>card number</span>
            <input type="text" maxlength="16" class="card-number-input">
        </div>
        <div class="inputBox">
            <span>card holder</span>
            <input type="text" class="card-holder-input">
        </div>
        <div class="flexbox">
            <div class="inputBox">
                <span>expiration mm</span>
                <select name="" id="" class="month-input">
                    <option value="month" selected disabled>month</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="inputBox">
                <span>expiration yy</span>
                <select name="" id="" class="year-input">
                    <option value="year" selected disabled>year</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                </select>
            </div>
            <div class="inputBox">
                <span>cvv</span>
                <input type="text" maxlength="4" class="cvv-input">
            </div>
        </div>
           <div class="inputBox">
            <span>Bakiye</span>
            <input type="text" maxlength="16" id="bakiye" class="card-number-input">
        </div>
        <input  value="submit" onclick="setBakiye()" class="submit-btn">
    </form>

</div>    
    





<script>

document.querySelector('.card-number-input').oninput = () =>{
    document.querySelector('.card-number-box').innerText = document.querySelector('.card-number-input').value;
}

document.querySelector('.card-holder-input').oninput = () =>{
    document.querySelector('.card-holder-name').innerText = document.querySelector('.card-holder-input').value;
}

document.querySelector('.month-input').oninput = () =>{
    document.querySelector('.exp-month').innerText = document.querySelector('.month-input').value;
}

document.querySelector('.year-input').oninput = () =>{
    document.querySelector('.exp-year').innerText = document.querySelector('.year-input').value;
}

document.querySelector('.cvv-input').onmouseenter = () =>{
    document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(-180deg)';
    document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(0deg)';
}

document.querySelector('.cvv-input').onmouseleave = () =>{
    document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(0deg)';
    document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(180deg)';
}

document.querySelector('.cvv-input').oninput = () =>{
    document.querySelector('.cvv-box').innerText = document.querySelector('.cvv-input').value;
}

</script>
<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <script>
      const BakiyeContractAddress = "0x3D622D3617413eC08b60D327984a5e4385Be5bf9";
      const BakiyeContractABI = [
	{
		"inputs": [
			{
				"internalType": "string",
				"name": "_bakiye_miktar",
				"type": "string"
			}
		],
		"name": "setBakiye",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getBakiye",
		"outputs": [
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
]
      let BakiyeContract;
      let signer;
      const provider = new ethers.providers.Web3Provider(web3.currentProvider);
      provider.send("eth_requestAccounts", []).then(() => {
      provider.listAccounts().then((accounts) => {
        signer = provider.getSigner(accounts[0]);
        BakiyeContract = new ethers.Contract(
          BakiyeContractAddress,
          BakiyeContractABI,
          signer
          );
        });
      });
      async function getBakiye() {
        const getBakiyePromise = BakiyeContract.getBakiye();
        const Bakiye = await getBakiyePromise;
        console.log(Bakiye);
      }

      async function setBakiye() {
        const Bakiye = document.getElementById("bakiye").value;
        const setBakiyePromise = BakiyeContract.setBakiye(Bakiye);
        await setBakiyePromise;
      }
    </script>







</body>
</html>

<style> 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.containerc{
    min-height: 100vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 60px;
}

.containerc form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.containerc form .inputBox{
    margin-top: 20px;
}

.containerc form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}

.containerc form .inputBox input,
.containerc form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.containerc form .flexbox{
    display: flex;
    gap:15px;
}

.containerc form .flexbox .inputBox{
    flex:1 1 150px;
}

.containerc form .submit-btn{
    width: 100%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.containerc form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.containerc .card-containercard{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.containerc .card-containercard .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.containerc .card-containercard .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.containerc .card-containercard .front .image img{
    height: 50px;
}

.containerc .card-containercard .front .card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
}

.containerc .card-containercard .front .flexbox{
    display: flex;
}

.containerc .card-containercard .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.containerc .card-containercard .front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.containerc .card-containercard .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.containerc .card-containercard .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.containerc .card-containercard .back .box{
    padding: 0 20px;
}

.containerc .card-containercard .back .box span{
    color:#fff;
    font-size: 15px;
}

.containerc .card-containercard .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.containerc .card-containercard .back .box img{
    margin-top: 30px;
    height: 30px;
}
</style>

















{{!-- 
    <div>
      <h1>This is my dApp!</h1>
      <p>Here we can set or get the mood:</p>
      <label for="mood">Input Mood:</label> <br />
      <input type="text" id="mood" />
      <button onclick="getMood()">Get Mood</button>
      <button onclick="setMood()">Set Mood</button>
    </div> --}}