
            <!-- title page -->
            <section class="flat-title-page inner"> 
                <img class="absolute mark-page" src="assets/images/mark/mark-header-04.png" alt=""> 
                    <img class="absolute mark-page2 animate-rotate" src="assets/images/mark/mark-header-01.png" alt="">
                    <img class="absolute mark-page3" src="assets/images/mark/mark-header-02.png" alt="">
                    <img class="absolute mark-page4" src="assets/images/mark/mark-header-03.png" alt="">
                    <img class="absolute mark-page5" src="assets/images/mark/mark-header-05.png" alt="">      
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-heading">
                                <h1 class="heading">Kayıt Ol<span class="text-color-3"></span></h1>
                            </div>                        
                        </div>
                    </div>
                </div>                    
            </section>

            <div class="tf-section flat-register flat-login flat-auctions-details">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="wrap-login">
                                <div class="box-login post">
                                    <img class="absolute mark-page3" src="assets/images/mark/mark-header-02.png" alt="">
                                    <img class="absolute mark-login1" src="assets/images/mark/mark-login-1.png" alt="">
                                    <img class="absolute mark-login2 animate-rotate" src="assets/images/mark/mark-login-2.png" alt="">
                                    <!-- <img class="absolute mark-login3" src="assets/images/mark/mark-login-3.png" alt="">
                                     <img class="absolute mark-login" src="assets/images/backgroup-secsion/bg-login.png" alt=""> -->
                                    <div class="heading-login">
                                        <h2 class="fw-5">Kayıt Ol</h2>
                                        <div class="flex"><p>Zaten bir hesabın var mı? </p><a href="/login" class="text-p text-color-3 fw-6">Giriş Yap</a></div>
                                    </div>
                                <!-- <form action="#" class="form-profile">  -->
                                    <form action="/users/register" method="POST" novalidate="novalidate">                                
                                        <div class="form-login flat-form flex-one">
                                            <div class="info-login"> 
                                                <fieldset>
                                                    <p class="title-infor-account">Kullanıcı Adı</p>
                                                    <!-- <input type="text" name="name" id="name" placeholder="Enter Your Name" tabinex="1" value aria-required="true"  required> -->
                                                    <input type="text" name="username" class="tb-my-input" name="name" placeholder="İsiminizi Giriniz" value="" aria-required="true" required="">
                                                </fieldset>  
                                                <fieldset>
                                                    <p class="title-infor-account">Mail</p>
                                                    <input type="email" name="email" class="tb-my-input" name="email" placeholder="info@gmail.com" value="" aria-required="true"  required="">
                                              </fieldset>                                                                                     
                                                <fieldset class="style-pass">
                                                    <p class="title-infor-account">Parola</p>
                                                    <input type="password" name="password" class="tb-my-input" id="password" placeholder="******" value="" aria-required="true"  required="">
                                                </fieldset>   
                                                <div class="row-form style-1 flex-two">
                                                    <label class="flex align">
                                                        <input type="checkbox">
                                                        <span class="btn-checkbox flex-two"></span>
                                                        <span class="text-p text-color-7">Beni Hatırla</span>
                                                    </label>
                                                   
                                                </div>
                                                <button class="submit button-login" >Kayıt Ol</button>                                                                                                          
                                            </div>
                                            <div class="box-button">
                                                <div class="button-social">                            
                                                  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
                                                    <a href="#" class="sc-button style-2"><i class="fab fa-google-plus-g"></i><span class="font">E-Devlet ile Giriş Yap</span></a>
                                                  
                                                </div>
                                            </div>                                   
                                        </div>                            
                                    </form>   
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>

           

          